<div class="row">
	<div id="main-banner" class="col-xs-12 text-center">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6 text-center">
				<p class="banner-text">
					Tan rico que no vas a creer que estás comiendo sano.
				</p>
				<a href="/pickup" class="btn btn-call">Regístrate y ordena vía twitter</a>	
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="block-1" class="text-center col-sm-8 col-sm-offset-2">
		<h3>La Vía Verde</h3>
		<p>Un concepto único de fast food saludable y deliciosa. Ofrecemos jugos, licuados, smoothies, ensaladas, ensaladas de frutas, sandwiches gourmet, bagels, deliciosas opciones vegetarianas.</p>
		<p>Comer rico nunca fue tan saludable.</p>
	</div>
</div>

<div class="row">
	<div id="carousel-container" class="col-md-12">
  	<div id="carousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	      <li data-target="#carousel" data-slide-to="0" class="active"></li>
	      <li data-target="#carousel" data-slide-to="1"></li>
	    </ol>
	    <div class="carousel-inner" role="listbox">
	      <div id="carousel-item-1" class="item active">
	      </div>
	      <div id="carousel-item-2" class="item">
	      </div>
			</div>
	    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
	  </div>
  </div>
</div>

<div class="row venue-info-row">
  <input id="venue-1" type="radio" name="venue" value="venue-1" class="checkbox-hack" checked>
	<input id="venue-2" type="radio" name="venue" value="venue-2" class="checkbox-hack">
  <div id="venues" class="col-md-8 text-center">
  	<label for="venue-1">
  		<div id="venue-1" class="venue text-center">
				<h2 class="clear-box">Sucursal Health C</h2>
  		</div>
  	</label>
  	<label for="venue-2">
  		<div id="venue-2" class="venue text-center">
  			<h2 class="clear-box">Sucursal Ateneo</h2>
  		</div>
  	</label>
  </div>
	<div id="venue-info" class="col-md-4">
		<div id="venue-1-info">
  		<h3>Sucursal Health C</h3>
  		<p>Av. Lomas Verdes #450, Lomas Verdes, Naucalpan, Edo. México</p>
  		<p class="bold">Abierto</p>
  		<p>Lunes -Domingo</p>
  		<p>7:00am a 5:15pm</p>
		</div>
		<div id="venue-2-info">
  		<h3>Sucursal Ateneo</h3>
  		<p>Av. García Lavín #338 x 43 y 45 Local 6, Plazas Dali, Col. San Antonio Cucúl, Merida.   </p>
  		<p class="bold">Horarios</p>
  		<p class="bold">Lunes - Viernes</p>
			<p class="bold">7:00 am a 14:30 pm</p>
			<p>Sábado - Domingo</p>
			<p class="bold">8:00 am a 15:00 pm</p>
		</div>
  </div>
</div>

<div id="block-2" class="row">
	<div class="col-xs-1 col-sm-offset-2 text-center"><img src="img/quote-open.png" alt="" class="quote"></div>
	<div class="col-xs-10 col-sm-6 text-center">
		<p>Si cada vez que haces dieta, la comida no te sabe a nada, no has probado La Vía verde </p>
	</div>
	<div class="col-xs-1 text-center"><img src="img/quote-close.png" alt="" class="quote"></div>
</div>

<div id="tips" class="row">
  <div id="block-3" class="col-md-12 text-center">
  	<h2>Comer <span class="highlight">rico</span> nunca fue tan <span class="highlight">saludable</span></h2>
  	<img src="img/banner2.png"></img>
  	<div class="row">
  		<div class="col-md-6 text-center">
  			<h3 class="highlight">
  				Peso Pluma - Vía Verde
  			</h3>
  			<p class="highlight">
  				<span class="bold">210</span> Calorías
  			</p>
  		</div>
  		<div class="col-md-6 text-center">
  			<h3 class="highlight">
  				3 Tristes Manzanas
  			</h3>
  			<p class="highlight">
  				<span class="bold">225</span> Calorías
  			</p>
  		</div>
  	</div>
  	<a class="btn btn-learn">Aprende más</a>
  </div>
</div>