<!-- Implement with menu-card directive

<div ng-controller="menuCtrl as wholeMenu">
  <div ng-repeat="menu in wholeMenu.menus" class="row">
    <menu-card menu="menu"></menu-card>
  </div>
</div> -->

<div id="menu-banner" class="row">
  <div class="col-md-5 col-md-offset-6 col-sm-7 col-sm-offset-4">
    <h3 class="banner-text">Un menú con mucho sabor, y muy pocas calorías </h3>
  </div>
</div>

<div id="ensaladas-card" class="row menu-card">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row menu-card-row">
      <div class="col-sm-4 menu-card-img"></div>
      <div class="col-sm-8 menu-card-info">
        <div class="row menu-card-title"><h2>Ensaladas</h2></div>
        <div class="row menu-card-items">
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/ensaladas/macedonia.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Macedonia</h3>
              <p><span class="highlight">220</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/ensaladas/viaverde.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">La vía verde</h3>
              <p><span class="highlight">115</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/ensaladas/bicopa.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Bicopa</h3>
              <p><span class="highlight">240</span> calorías</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="desayunos-card" class="row menu-card">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row menu-card-row">
      <div class="col-sm-8 menu-card-info">
        <div class="row menu-card-title"><h2>Desayunos</h2></div>
        <div class="row menu-card-items">
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/desayunos/hotcakes_cocoa.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Hot Cakes Cocoa</h3>
              <p><span class="highlight">280</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/desayunos/hotcakes_arandano.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Hot Cakes Arandano</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/desayunos/omelette_champ.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Omelette Champiñones</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 menu-card-img"></div>
    </div>
  </div>
</div>

<div id="sandwiches-card" class="row menu-card">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row menu-card-row">
      <div class="col-sm-4 menu-card-img"></div>
      <div class="col-sm-8 menu-card-info">
        <div class="row menu-card-title"><h2>Sandwiches</h2></div>
        <div class="row menu-card-items">
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/sandwiches/argentino.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Argentino</h3>
              <p><span class="highlight">280</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/sandwiches/portobello.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Portobello</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/sandwiches/pesopluma.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Peso Pluma</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="jugos-card" class="row menu-card">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row menu-card-row">
      <div class="col-sm-8 menu-card-info">
        <div class="row menu-card-title"><h2>Jugos</h2></div>
        <div class="row menu-card-items">
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/jugos/basico.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Básico</h3>
              <p><span class="highlight">280</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/jugos/rio.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Río</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/jugos/popeye.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Popeye</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 menu-card-img"></div>
    </div>
  </div>
</div>

<div id="licuados-card" class="row menu-card">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row menu-card-row">
      <div class="col-sm-4 menu-card-img"></div>
      <div class="col-sm-8 menu-card-info">
        <div class="row menu-card-title"><h2>Ensaladas</h2></div>
        <div class="row menu-card-items">
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/licuados/antioxidante.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Antioxidante</h3>
              <p><span class="highlight">280</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/licuados/pancho.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Pancho</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 text-center">
            <img src="/img/licuados/speed.jpg" alt="" class="menu-card-item-img">
            <div class="menu-card-item-info">
              <h3 class="menu-card-item-title">Speed</h3>
              <p><span class="highlight">215</span> calorías</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
