<p>Credit Card Info.</p>
<p class="alert alert-danger" ng-show="pickup.error">{{ cc.error }}</p>

<form ng-submit="cc.tokenizeCard()">
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="pickup.formData.name" ng-change="cc.card.name = pickup.formData.name"/><br/>
    <label for="email">Email</label>
    <input type="email" name="email" ng-model="pickup.formData.email" /><br/>
    <label for="card-number">Card Number</label>
    <input type="text" name="card-number" ng-model="cc.card.number" />
    <label for="expiration-date">Expiration Date</label>
    <select name="month" ng-model="cc.card.exp_month">
        <option ng-repeat="month in cc.months" value="{{ month }}">{{ month }}</option>
    </select>
    <select name="year" ng-model="cc.card.exp_year">
        <option ng-repeat="year in cc.years" value="{{ year }}">{{ year }}</option>
    </select><br/>
    <label for="cvc">CVC</label>
    <input type="text" name="cvc" maxlength="3" ng-model="cc.card.cvc" />
    <input type="submit" value="Submit"/>
</form>

<a ng-click="pickup.logout()">Cerrar Sesión</a>
