<h3>{{ pickup.twitterUsername }}</h3>

<p>Ya puedes ordenar desde twitter.</p>

<a ng-click="ready.goEdit()">Editar información de tarjeta de crédito</a>
<a ng-click="pickup.logout()">Cerrar Sesión</a>
