<div id="pickup-banner" class="row">
  <div class="col-md-4 col-md-offset-7 text-center">
    <img id="twitter-badge" src="../img/twitter.png"></img>
    <h1 id="pickup-title">Ordena vía Twitter</h1>
    <div id="pickup-text">
      <h4>La mejor parte de tu día está a unos cuantos pasos.</h4>
      <h4>Lo hicímos simple, rápido y delicioso.</h4>
    </div>
  </div>
</div>
<div id="pickup-instructions" class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <div class="circled-text first">
          <p><span class="top">Paso</span> uno</p>
        </div>
        <p class="pickup-instruction">Haz Login con Twitter</p>
      </div>
    </div>
    <div class="row separator-dots">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="circled-text">
          <p><span class="top">Paso</span> dos</p>
        </div>
        <p class="pickup-instruction">Registra tu tarjeta de crédito</p>
      </div>
    </div>
    <div class="row separator-dots">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="circled-text last">
          <p><span class="top">Paso</span> tres</p>
        </div>
        <p class="pickup-instruction">Ordena desde Twitter usando @via-verde</p>
      </div>
    </div>
  </div>
  <div id="pickup-form" class="col-md-4">
    <div ui-view></div>
  </div>
</div>

