$text-highlight: #46913C;
$brand-primary: #AEC84D;
$brand-shade: #4F6E4C;
$primary-text: #656565;
$secondary-text: #F4F1ED;

h1, h2, h3, h4, h5, h6 {
	color: $text-highlight;
	font-weight: 300;
	margin-bottom: 2em;
	
	.bold {
		font-weight: 400;
	}
}

html, body {
	height: 100%;
}

body {
	color: $primary-text;
	font-size: 18px;
	font-weight: 300;
}

iframe[src*=conekta] {
	position: fixed;
	top: -1000px;
	left: -1000px;
}

#block-1 {
	padding-top: 2em;
	padding-bottom: 2em;
	
	font-weight: 300;
	
	p {
		padding-bottom: 1em;
	}
}

#block-2 {
	padding-top: 4em;
	padding-bottom: 4em;
	
	font-weight: 300;
	
	p {
		padding-bottom: 1em;
		padding-top: 1em;
	}
}

#block-3 {
	padding-top: 3em;
	padding-bottom: 3em;
	
	img {
		max-width: 100%;
	}
	
	h1, h2, h3, h4, h5, h6 {
		color: #F77E12;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	
	.highlight {
		color: $secondary-text;
	}
	
	p {
		text-transform: uppercase;
	}
	
	p.under-text {
		font-size: 0.666666667em;
		margin-bottom: 3em;
	}
}

#carousel {
	padding: 0;
	
	a {
		background: none;
	}
	
	#carousel-item-1 {
		background: url("../img/carousel1.png") #BBD8EA center center no-repeat / cover;
		min-height: 27.7777778em;
	}
	#carousel-item-2 {
		background: url("../img/carousel2.png") #BBD8EA center center no-repeat / cover;
		min-height: 27.7777778em;
	}
}

#carousel-container {
	padding: 0;
}

#footer {
	background: #FFFFFF;
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
	bottom: 0;
	clear: both;
	margin-top: -4.22222222em;
	height: 4.22222222em;
	
	.social-media-link {
		border-radius: 50%;
		background: #AEC74C;
		display: inline-block;
		margin: 0 0.5em;
		min-height: 2.5em;
		min-width: 2.5em;
		padding: 0.3em;
		
		i {
			color: $secondary-text;
			font-size: 2em;
		}
	}
}

#main-content {
	min-height: 100%;
	padding-top: 5em;
	padding-bottom: 4.22222222em;
}

#main-banner {
	background: url("../img/banner1.png") center bottom no-repeat / cover;
	margin-top: -2.5em;
	min-height: 32.7777em;
}

#menu-banner {
	background: url("../img/banner_menu.png") center bottom no-repeat / cover;
	margin-top: -2.5em;
	min-height: 27.7777em;
}

#menu-toggle {
	display: none;
}

#pickup-banner {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pickup_banner.jpg") center bottom no-repeat fixed / cover;
	margin-top: -2.5em;
	min-height: 27.7777em;
	padding-top: 6.94444444em;
	
	h1, h2, h3, h4, h5, h6 {
		color: $secondary-text;
		margin-bottom: 0;
	}
	
	#pickup-text {
		margin-top: 2em;
		
		h4 {
			margin: 0;
		}
	}
	
	#twitter-badge {
		max-height: 4.62962963em;
	}
}

#pickup-form {
	button {
		margin-top: 6em;
		font-size: 1.22222222em;
		text-transform: uppercase;
	}
}

#pickup-instructions {
	.circled-text {
		margin-right: 2em;
	}
	
	.circled-text.first {
  	margin-top: 2em;
  }
  
  .circled-text.last {
  	margin-bottom: 2em;
  }
	
	.pickup-instruction {
    display: inline-block;
    transform: translateY(-50%);
	}
	
	.separator-dots {
    margin: 0.1em 0 0.1em 2.7em;
	}
}

#tips {
	background-color: #F8BE7F;
}

#top-bar {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	text-transform: uppercase;
	border: none;
	background: #FFFFFF;
	box-shadow: 0 1px $primary-text;
	
	#mobile-menu {
		background: #FFFFFF;
		display: none;
		padding: 0.5em 2em;
		position: absolute;
		right: 0;
		
		ul {
			list-style: none;
		}
	}
	
	#top-logo {
		max-height: 2.9em;
		margin-top: -0.7em;
		margin-bottom: -0.7em;
	}
	
	a {
		text-decoration: none;
		
		&, &:hover {
			color: $primary-text;
		}
		
		&:hover {
			border-bottom: solid 1px $brand-primary;
		}
	}
	
	input[type=checkbox]:checked ~ #mobile-menu {
    display: block
	}
}

#venues {
	padding: 0;
	.venue {
		height: 13.6388889em;
		margin-bottom: 0.5em;
		padding-top: 3.9em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	#venue-1 {
		background: url("../img/sucursal1.png") center top no-repeat / cover;
		margin-bottom: 0.555555556em;
	}
	
	#venue-2 {
		background: url("../img/sucursal2.png") center top no-repeat / cover;
	}

	label {
		width: 100%;
		cursor: pointer;
		margin-bottom: 0;
	}
}

#venue-1:checked ~ #venue-info #venue-1-info {
    visibility: visible;
}

#venue-2:checked ~ #venue-info #venue-2-info {
	visibility: visible;
}

#venue-info {
	padding: 5.55555556em 0 0 2em;
	background: #FCDA5B;
	height: 27.7777778em;
	
	&, h1, h2, h3, h4, h5 {
		color: $secondary-text;
		text-transform: uppercase;
	}
	
	p {
		text-align: left;
	}
	
	#venue-1-info {
		position: absolute;
		visibility: hidden;
	}
	
	#venue-2-info {
		position: absolute;
		visibility: hidden;
	}
}

.accent {
	color: #F77E12;
}

.background {
	color: red;
	height: 100%;
	width: 100%;
}

.banner-text {
	padding-top: 9.41666667em;
	width: 100%;
	font-size: 1.333333em;
	color: $secondary-text;
	padding-bottom: 3.13888889em;
}

.btn-call {
	background: #DFB307;
	color: $secondary-text;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-shadow: 1px 1px 3px black;
	
	&:hover {
		background: #F9CF2B;
		color: $secondary-text;
	}
}

.btn-learn {
	border: 1px solid $secondary-text;
	color: $secondary-text;
	font-size: 1.4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.7em;
	padding-right: 1.7em;
	text-transform: uppercase;
	
	&:hover {
		background: #AD661A;
		color: $secondary-text;
	}
}

.bold {
	font-weight: 500;
}

.burger-button {
	cursor: pointer;
	margin-bottom: -0.7em;
	margin-top: -0.7em;
	
	div {
		border: solid 1px $primary-text;
		margin: 0.3em 0;
		width: 1em;
	}
}

.checkbox-hack {
	position: fixed;
	top: -999px;
	left: -999px;
}

.circled-text {
	text-transform: uppercase;
	color: $brand-primary;
	border: solid $brand-primary 2px;
  border-radius: 50%;
	width: 4em;
  height: 4em;
  padding-top: 0.3em;
  display: inline-block;
  text-align: center;
  
	.top {
		font-size: 0.666666667em;
	}
}

.clear-box {
	border: solid 2px white;
	padding: 0.8em;
	max-width: 12em;
	color: $secondary-text;
	margin: 0 auto 0 auto
}

.fill-height {
	max-height: 100%;
}

.fill-width {
	max-width: 100%;
}

.highlight {
	color: $text-highlight;
}

.menu-card {
	
	&#ensaladas-card .menu-card-img {
		background: url("../img/ensaladas.png") center bottom no-repeat / cover;
	}
	
	&#desayunos-card .menu-card-img {
		background: url("../img/desayunos.png") top right no-repeat / cover;
	}
	
	&#sandwiches-card .menu-card-img {
		background: url("../img/sandwiches.png") center bottom no-repeat / cover;
	}
	
	&#jugos-card .menu-card-img {
		background: url("../img/jugos.png") center bottom no-repeat / cover;
	}
	
	&#licuados-card .menu-card-img {
		background: url("../img/licuados.png") center bottom no-repeat / cover;
	}
	
	h2, h3 {
		margin-bottom: 0.3em;
		text-transform: uppercase;
	}
	
	.menu-card-img {
		min-height: 25em;
	}
	
	.menu-card-info {
		padding: 1em 2em 0 2em;
		
		img.menu-card-item-img {
			max-width: 100%;
			overflow: hidden;
			width: 100%;
		}
		
		.menu-card-item-title {
			border-top: solid 1px $text-highlight;
		}
		
		.menu-card-items {
			margin-top: 2em;
		}
	}
	
	.menu-card-row {
		border: solid $brand-shade 1px;
	}
	
	.menu-card-title {
		border-bottom: solid 1px $text-highlight;
	}
	
	&.row {
		margin-bottom: 2em;
		margin-top: 2em;
	}
}

.quote {
	max-width: 100%;
}

.row {
	padding: 0;
	margin: 0;
}

.separator-dots {
	margin: 1em;
	
	.dot {
		width: 0.25em;
		height: 0.25em;
		background: $brand-primary;
		border-radius: 50%;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}
}
