<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Via Verde</title>
	<base href="/">
	<link rel="stylesheet" href="css/app.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:500,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-1.12.0.js"></script>
	<script src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/app.routes.js"></script>
	<script src="js/app.directives.js"></script>
	<script src="js/app.services.js"></script>
</head>
<body ng-app="viaVerdeApp" ng-controller="mainController as main">
	<nav id="top-bar" class="navbar navbar-default navbar-fixed-top hidden-xs">
		<div class="container">
			<div class="col-sm-2 text-center"><a ng-click="main.goToVenues()">Sucursales</a></div>
			<div class="col-sm-2 text-center"><a href="/menu">Menú</a></div>
			<div class="col-sm-4 text-center">
				<a href="/">
					<img id="top-logo" src="img/logo.png"></img>
				</a>
			</div>
			<div class="col-sm-2 text-center"><a href="/">Franquicias</a></div>
			<div class="col-sm-2 text-center"><a href="/pickup">Pick-Up</a></div>
		</div>
	</nav>
	<nav id="top-bar" class="navbar navbar-default navbar-fixed-top visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 text-left">
					<a href="/">
						<img id="top-logo" src="img/logo.png"></img>
					</a>
				</div>
				<div class="col-xs-6 text-right">
					<input type="checkbox" id="menu-toggle"/>
					<label for="menu-toggle">
						<div class="burger-button">
							<div></div>
							<div></div>
							<div></div>
						</div>
					</label>
					<div id="mobile-menu">
						<ul>
							<li><a ng-click="main.goToVenues()">Sucursales</a></li>
							<li><a href="/menu">Menú</a></li>
							<li><a href="/">Franquicias</a></li>
							<li><a href="/pickup">Pick-Up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	
	<main id="main-content" class="fluid-container">
		<div ui-view></div>
  </main>
	  
  <nav id="footer">
  	<div class="container">
  		<div class="col-sm-12 text-center">
  			<div id="media-links">
	  			<a href="/" class="social-media-link">
	  				<i class="fa fa-twitter"></i>
	  			</a>
	  			<a href="/" class="social-media-link">
	  				<i class="fa fa-instagram"></i>
	  			</a>
	  			<a href="/" class="social-media-link">
	  				<i class="fa fa-facebook"></i>
	  			</a>
  			</div>
  		</div>
  	</div>
  </nav>
</body>
</html>