<div class="menu-card">
  <div class="menu-card-image col-md-4">
    <img ng-src="" alt="">
    <p>{{ menuCtrl.featuredProduct }}</p>
  </div>
  <div class="menu-card-body col-md-6">
    <p class="menu-card-title">{{ menu.name }}</p>
    <div class="menu-products" ng-repeat="product in menu.products">
      <p ng-click="menuCtrl.changeFeatured(product.name)">{{ product.name }}</p>
    </div>
  </div>
</div>